.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-fluid {
  align-self: center;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 5px 20px 5px;
  box-shadow: 5px 5px 10px grey;
}

#display {
  border: 1px solid grey;
  margin-bottom: 5px;
  text-shadow: 1px 1px 3px white;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: grey;
  font-size: 75px;
  text-align: right;
  padding: 5px;
  box-shadow: 2px 2px 5px grey;
}

table{
  margin: 10px;
}
button {
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  box-shadow: 2px 2px 5px grey;
}
.btn {
  font-size: 20px;
}

#plus{
  height: 100px;
}